/*--------------Global Styles--------------*/

* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

/*---------Style for Sticker Footer---------*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/*--------------DRY Classes--------------*/

.gray {
  background-color: #eee;
}

.button-style {
  display: block;
  margin: 20px auto;
  background-color: #09f;
  padding: 10px 12px;
  border: 3px solid #007;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-family: arial;
  box-shadow: 0 9px #999;
}

.button-style:hover {background-color: #05b}

.button-style:active {
  background-color: #05b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.chef {
  font-style: italic;
}


/*--------------Navigation Bar--------------*/

#hamburger {
  position: absolute;
  top: 0;
  right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

#hamburger:hover {
  border: 2px solid white;
}

#hamburger:active {
  background-color: #05b;
  transform: translateY(4px);
}

.nav-menu {
  background-color: #182;
  background-image: linear-gradient(white, #182, #182, #182, white);
  position: relative;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.nav-menu a {
  font-size: 1.8em;
  padding: 5px;
  font-weight: 700;
  font-family: Calibri, Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  visibility: collapse;
  background-color: #182;
  width: 100%;
  border-top: 2px solid white;
  text-align: center;
}

.nav-menu a:last-child {
  border-bottom: 2px solid white;
}

.nav-menu a:hover {
  color: #00a;
}

/*--------------Nav Bar on Larger Screens--------------*/
@media (min-width: 850px) {
  #hamburger {
    visibility: collapse;
  }

  .nav-menu {
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-menu a {
    visibility: visible;
    font-size: 1.2em;
    width: auto;
    border: none;
    background: none;

  }

  .nav-menu a:last-child {
    border-bottom: none;
  }
}

@media (min-width: 1200px) {
  .nav-menu {
    padding: 0 10%;
  }
}


/*--------------Header Styles--------------*/

.main-header {
  background: linear-gradient(0deg,white, transparent 100%),
              forestgreen url(../Pictures/chicken.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
  padding-top: 0px;
  width: 100%;
  margin-top: 0;
  padding-top: 30px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header h1 {
  font-size: 4rem;
  margin-top: 0;
  text-shadow: 0 10px 10px black;
  color: #182;
  text-align: center;
  font-family: Allura, Helvetica, sans-serif;
}

.sub-title {
  font-weight: bold;
  line-height: 1.5em;
  font-size: 1.25em;
  text-align: center;
  color: #00a;
}

.sub-title p {
  margin: 10px auto;
}

.headers {
  color: #182;
  text-align: center;
  font-family: Allura, Helvetica, sans-serif;
  font-size: 2em;
  background-color: #eee;
  border-bottom: 3px #182 solid;
  margin: 0;
}

.middle .headers {
  background: none;
  border-bottom: none;
  font-size: 2.5em;
}

@media (min-width: 580px){
  .main-header h1 {
    font-size: 5em;
  }
    .sub-title {
      font-size: 1.5em;
    }
  }

@media (min-width: 790px){
  .main-header h1 {
    font-size: 7em;
  }

  .headers {
    font-size: 2.5em;
  }
}

/*--------------Main Page Styles--------------*/

.main-content {
  border-top: solid 3px #f11;
}

.col {
  padding: 20px;
  font-family: Calibri, sans-serif;
}

.col h2 {
  text-align: center;
  font-size: 1.75em;
  margin: 0 auto;
  color: #00a;
}

.col h3 {
  font-size: 1.4em;
  color: #f11;
  font-family: Allura, sans-serif;
  margin-top: 45px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.left {
  font-size: 1.25em;
  background-color: #eee;
}

.middle {
  font-weight: bold;
  line-height: 1.75em;
  font-size: 1.2em;
}

.middle p {
  margin: 10px;
  text-indent: 40px;
  color: #007;
}

.buttons {
  text-align: center;
}

.buttons a {
  text-decoration: none;
  color: inherit;
}

.side-img {
  border-radius: 50%;
}
/*--------------Desktop Column Layouts--------------*/

@media (min-width: 850px) {

  .main-content {
    display: flex;
    justify-content: center;
  }

  .col {
    flex: 1 1 0;
  }

  .middle {
    flex-grow: 2;
    order: 1;
    background-image: url("../Pictures/paper.jpg");
  }
  
  .middle p {
    margin: 30px 50px;
  }

  .right {
    order: 2;
    background-color: #eee;
  }
}

@media (min-width: 1200px) {
  .middle {
    flex-grow: 3.5;
  }

  .left {
    padding: 20px 30px;
  }
}

/*--------------Footer Styles--------------*/

.main-footer {
  background-color: #182;
  background-image: linear-gradient(white, #182, #182, #182, white);
  font-style: oblique;
  font-weight: 600;
  text-align: center;
  width: 100%;
  height: 30px;
  font-size: 1.25em;
  color: white;
  padding: 2px;
}

/*------------Pop-up Form Styles-------------*/

.popup {
  visibility: collapse;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup-form {
  width: 100%;
  border: 5px #182 solid;
  position: relative;
  background-color: lightgray;
  position: fixed;
  z-index: 5;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  padding-top: 35px;
}

.popup-form legend {
  text-align: center;
  font-size: 2em;
  color: #00a;
  font-weight: bold;
  font-family: Allura, sans-serif;
  text-shadow: 3px 3px white;
  margin: 10px auto;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex-item {
  display: flex;
  margin: 5px;
}

.flex-item label {
  font-weight: 600;
  font-family: arial, sans-serif;
  margin-left: 2%;
  width: 27.5%
}

.flex-item textarea {
  width: 67.5%;
  margin-right: 3%;
}

.x-button {
  font-size: 1.25em;
  padding: 0 3px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2px;
  margin-right: 2px;
  background-color: tomato;
  border: darkred solid 3px;
  box-shadow: none;
  border-radius: 5px;
}

.x-button:hover {
  background-color: #777;
}

.x-button:active {
  background-color: black;
}

.text-input {
  height: inherit;
}

/*---Particular Styles for "Submit a Recipe" and "Contact Me" Forms---*/

.recipe {
  height: 90%;
}

.recipe .form-bottom {
  height: 90%;
}

.text-input {
  height: 26%;
}

#message {
  height: 300px;
}

/*-------Media Queries for Modal Form Breakpoints--------*/

@media (min-width: 650px){
  .flex-item label {
    width: 20%;
  }

  .flex-item textarea {
    width: 75%;
  }
}

@media (min-width: 850px){
  .popup-form {
    width: 80%;
    margin-left: 10%;
    padding-top: 0;
  }

  .popup-form legend {
    font-size: 3em;
  }

  .popup label {
    font-size: 1.25em;
  }
}

@media (min-width: 1300px){
  .popup-form {
    width: 50%;
    margin-left: 25%;
  }
}

@media (min-width: 1450px){
  .flex-item label {
    width: 17.5%;
  }

  .flex-item textarea {
    width: 77.5%;
  }
}

/*--"Under Construction Signs" on database and meal planner pages--*/
.construction {
  font-size: 2em;
  font-family: Calibri, sans-serif;
  text-align: center;
  width: 80%;
  margin: 7% 10%;
  background-color: #f4d742;
  border-radius: 10px;
  border: 15px dashed black;
  box-shadow: 0 0 50px;
}

#construction-pop {
  display: none;
  position: fixed;
  z-index: 3;
  margin-top: 50px;
}

@media (min-width: 860px){
  .construction {
    font-size: 3em;
    width: 50%;
    margin-left: 25%;
  }
  
  #construction-pop {
    margin: auto;
  }
}

@media (min-width: 1200px){
  .construction {
    font-size: 4em;
  }
}

@media (min-width: 1500px){
  .construction {
    font-size: 5em;
  }
}

/*-----Styles for About Me Content-----*/
.background {
  background-color: #ccc;
  background-image: url("../Pictures/paper.jpg");
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: Calibri, sans-serif;
  font-weight: 600;
  border-radius: 10px;
  padding: 30px;
}

.about img {
  border-radius: 50%;
  max-width: 95%;
  height: auto;
  margin: auto;
}

@media (min-width: 800px){
  .about {
    flex-direction: row;
  }

  .about p {
    padding-left: 30px;
  }
}

  @media (min-width: 1200px){
    .about {
      width: 90%;
      margin: auto;
    }
    
    .about img {
      width: 40%;
    }

    .about p {
      padding-left: 40px;
    }
}
