* {
  box-sizing: border-box;
}


/*--------------Layout Styles--------------*/

.main-header {
  background: linear-gradient(0deg,white, transparent 100%),
              forestgreen url(../Pictures/chicken.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
  padding-top: 0px;
  width: 100%;
  margin-top: 0;
  padding-top: 50px;
}

.main-footer {
  background-color: lightgray;
  font-style: oblique;
  font-weight: 600;
  text-align: center;
}

.welcome {
  padding: 20px;
}

/*--------------Navigation Bar--------------*/

.nav-links,
.nav-links li {
  display: inline-block;
}

.nav-menu {
  background-color: #182;
  background-image: repeating-linear-gradient(white, #182, #182, #182, white);
  text-align: center;

}

.nav-links {
  margin: 0;
}

.nav-links li {
  font-size: 1.2em;
  margin-right: 150px;
  padding: 5px;
  font-weight: 700;
  font-family: Calibri, Helvetica, sans-serif
}

.nav-links a {
  text-decoration:none;
  color: #fff;
}

.nav-links a:hover {
  color: #00a;
}

/*--------------Font Styles--------------*/
.main-header h1 {
  color: #182;
  font-size: 7em;
  text-align: center;
  font-family: Allura, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 230px;
  text-shadow: 0 10px 10px black;
}

.sub-title {
  font-weight: bold;
  line-height: 1.5em;
  font-size: 1.5em;
  text-align: center;
  color: #00a;
}

.col h2 {
  text-align: center;
  font-size: 2em;

}

/*--------------Media Queries--------------*/

@media (min-width: 1120px) {

  .col {
    float:left;
  }

  .middle {
    width: 60%;
    text-align: center;
  }

  .left,
  .right {
    width: 20%;
    background-color: lightgray;
    border: solid 3px #182;
    border-radius: 5px;
    height: 1000px;
    padding: 20px;
  }

  .main-footer {
    clear: both;
    font-size: 1.25em;
    height: 30px;
  }

  .buttons button {
    display: block;
    margin: 20px auto;
    background-color: #18f;
    padding: 10px 12px;
    border-radius: 10px;
    color: silver;
  }

}

/*--------------Float Clearfix--------------*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
