* {
  box-sizing: border-box;
}

h1 {
  color: #182;
  font-size: 5em;
  text-align: center;
  font-family: Helvetica, sans-serif;
  margin-bottom: 100px;
  text-shadow: 0 10px 10px black;
}

.main-header {
  background: linear-gradient(0deg,white, transparent 90%),
              forestgreen url(Pictures/chicken.jpg) no-repeat center;
  background-size: cover;
  height: 400px;
  padding-top: 50px;
  width: 100%;
  border-top: #0a0 solid 5px;

}

.sub-title {
  font-weight: bold;
  line-height: 1.5em;
  font-size: 1.5em;
  text-align: center;
  color: #00a;
}
